[Unit]
Description=Java mail sender app
After=syslog.target

[Service]
Type=simple
User=javarunner
WorkingDirectory=/home/javarunner/mail-sender-app
ExecStart=/home/javarunner/mail-sender-app/app-scripts/start.sh
ExecStop=/usr/bin/pkill -15 -P $MAINPID
SuccessExitSatus=143
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target